*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgba(110, 107, 107, 0.445),rgba(110, 107, 107, 0.445)),url(imagenes/coffee.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: url(imagenes/cursor2.png), auto;
}
#encabezado{
    color: #fff;
    text-align: center;
    justify-content: center;
    margin: 20%;
    position: absolute;
    top: -30%;
}
h1{
    margin: 2%;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 120px;
}
.menu{
    justify-content:center;
    display: flex;
    height: 70px;
    align-items: center;
    padding: 3%;
    list-style-type: none;
    margin: 20px;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
    font-size: 20px;
    margin-bottom: 40px;
    
}
.menu li a{
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    cursor: url(imagenes/cursor2.png), auto;
}
p{
    font-size: 30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
}
.menu li a:hover{
    background-color:  rgba(190, 182, 182, 0.658); 
}
#iconos{
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    
}
.redes li{
    display: inline-block;
    font-size: 25px;
    margin: 20px;
}